<div id="sidebar-mobile">
  <!--
    // Disabled search since it doesn't seem to work well
    <input class="search-box st-default-search-input">
    <br>
  -->
  <select class="version-select">
    <% config.versions.forEach(function (v) { %>
      <option value="v<%- v %>">v<%- v %></option>
    <% }) %>
  </select>
</div>
<ul class="menu-root">
  <% site.pages.find({}).sort({order: 1}).each(function (p) { %>
    <li>
      <a href="<%- relative_url(page.path, p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %>">
        <%- p.title %>
      </a>
    </li>
  <% }) %>
</ul>
